/*MAIN*/
body {
    background-image: url("../imagem/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 13px;
    backdrop-filter: blur(1px);
}

h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}


.buttonstyle {
    background-color: rgb(202, 200, 200);
    width: 200px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonstyle:hover {
    background-color: rgb(160, 160, 160);
    color: white;
}

/*Index Html*/
#image1 {
    width: 50%;
    height: auto;
}

.box1 {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    border-radius: 17px;
    border: 3px solid black;
    border-color: gray;
    width: 500px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.vertical {
    padding-top: 160px;
}

/*Login Html*/
.inputs {
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border-color: black;
    border: 2px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#buttonback {
    margin-top: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    height: 50px;
    border-width: 2px;
    color: black;
    border-color: black;
    font-weight: bold;
    border-top-right-radius: 42px;
    border-bottom-right-radius: 42px;
    background: rgb(202, 200, 200);
    cursor: pointer;
}

#buttonback:hover {
    background-color: rgb(160, 160, 160);
    color: white;
}

.vertical2 {
    padding-top: 130px;
}

/*FPASSWORD*/
#image2 {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

/*Register*/
#image3 {
    width: 40%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkboxcenter {
    display: flex;
    align-items: center;
    margin-left: 105px;
}

#forgotpassword {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(68, 68, 240);
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    margin-top: 5px;
}

#acept {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical1 {
    padding-top: 85px;
}

/*Profile*/

.corner {
    position: absolute;
    right: 20px;
    top: 20px;
}

.spacing button {
    margin-right: 20px;
}

#image4 {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    height: auto;
}

.box2 {
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    border-radius: 17px;
    border: 3px solid black;
    border-color: gray;
    width: 500px;
}

.lineup {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.centertable {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    height: 80%;
}

table {
    position: relative;
    width: 80%;

}

tr {
    height: 50px;
}

th:nth-child(1),
td:nth-child(1) {
    width: 70%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 5%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 5%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}

th {
    background-color: rgb(218, 218, 218);
}

tr {
    background-color: rgb(231, 231, 231);
}

table caption {
    caption-side: top;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#caption1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 260px;
}

#caption2 {
    caption-side: top;
    text-align: right;
    margin-bottom: 10px;
}

#buttonprofile {
    background-color: rgb(202, 200, 200);
    width: 150px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#buttonprofile:hover {
    background-color: rgb(160, 160, 160);
    color: white;
}

.table-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.table-image {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/*Modal*/
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.575);
    z-index: 9;
}

.modal.open,
.overlay.open {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    width: 450px;
    height: 400px;
    text-align: left;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: rgb(202, 200, 200);
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    z-index: 10;
}

.modal-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.modal-description {
    width: 315px;
    height: 80px;
    margin-bottom: 20px;
}

.modal-date {
    padding: 5px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    color: #000;
    background: none;
    border: none;
}



.modal-button {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;

}

.modal-position {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.modal-button2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;

}

.date {
    background-color: rgba(177, 177, 177, 0.651);
    border: 2px solid rgba(92, 92, 92, 0.644);
    height: 25px;
    cursor: pointer;
}

/*Manage Profile*/
#image5 {
    width: 240px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}